Pinta/
autostart/                       
htop/               
Postman/
BraveSoftware/                   
pulse/
cava/                            
Kingsoft/           
qBittorrent/
Code-OSS/                     
Kvantum/            
qt5ct/
configstore/                     
libreoffice/       
QtProject.conf
dconf/                          
ranger/
discord/                        
menus/              
rclone/
mimeapps.list       
Electron/                      
'MongoDB Compass'/   
simple-update-notifier/
EOS-greeter.conf                 
mpv/                
stacer/
EOS-initial-wallpaper.I3         
musikcube/          
systemd/
eos-update-notifier.first_init   
nautilus/           
Thunar/
nemo/               
user-dirs.dirs
flameshot/                       
neofetch/           
user-dirs.locale
GIMP/                            
nitrogen/           
VirtualBox/
google-chrome/                   
obs-studio/         
vlc/
gthumb/                          
onlyoffice/         
xed/
gtk-2.0/                         
pavucontrol.ini     
gtk-3.0/                         
yay/
gtk-4.0/                         

